
  
.pass-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
  }

.protected-content {
    display: none;
  }
  
.input-container {
    
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
  }
  
.input-container input {
    padding: 10px;
    font-size: 16px;
  }
  
.input-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
.error-message {
    color: red;
    margin-top: 10px;
    display: none; /* 默认隐藏 */
  }
  
.gap{
  margin-bottom: 10%;
}