/* 整體布局 */

.title-container{
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.title-container h1 {
    margin-top: 2%;
    
}

p{
    line-height: 1.5;
}

h3{
    margin-top: 5%;
}

.title-container h3 {
    margin-top: 2%;
    color: #BA0000;
    font-weight: 500;
    font-size:1.2rem;
    letter-spacing: -0.3px;
}

h2{
    font-size:2rem;
}

h2 i {
    margin-right: 10px; /* Adds space to the right of the icon */
}

.project-image{
    height: auto;
    width: 100%;
    overflow: hidden;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}
.project-container {

    display: flex;
    gap: 20px;
    width: 100%; 
    flex-direction:row ;
    margin-top: 3%;
}



.left-wrap{
    flex-basis: 10%; /* 設置左側區塊占 20% */
    flex-grow: 0; /* 防止它隨父容器擴展 */
    margin-left: 5%;
    margin-right: 5%;
    margin-top:5%;
    position: relative; 
}

/* 左側的圓圈與文字列表 */
.overview-menu {
    list-style: none;
    padding: 0;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:10%;
    position: sticky;
    z-index: 200;
    top: 150px;
    
}


/* 當前選中項目 */
.overview-menu li.active {
    font-weight: bold;
    color: #20459F; /* 選中後的顏色 */
}

/* 預設所有項目 */
.overview-menu li {
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #999; /* 預設顏色 */
}




/* 右側的內容區域 */
.main-content {
    flex-basis: 90%; /* 設置右側區塊占 80% */
    flex-grow: 0; /* 防止它隨父容器擴展 */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    word-wrap: break-word; /* 讓長單詞自動換行 */
    word-break: break-word; /* 讓長單詞不會溢出容器 */
    text-align: justify;
    margin-right: 4%;
    box-sizing: border-box; 
    
}

.section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  /* 使两个 div 水平排列并均分 */
    align-items: center;
    width: 100%; /* 容器宽度 */
}

.role, .collaborator {
    flex: 1; /* 每个 div 占据相等的空间 */
    text-align: left; /* 可选，使文本居左 */
}

.section3{
    display: flex;
    flex-direction: column; 
    text-align: left;
}


.section3-container1{
    display: flex;
    flex-direction: row; /* 让小容器中的 div 水平排列 */
    justify-content: space-between;
    gap: 10px; /* 控制水平排列的子元素之间的间距 */
    height: auto;
    align-items: top;
    
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.section3-container2 {
    display: flex;
    flex-direction: row; /* 让小容器中的 div 水平排列 */
    gap: 10px; /* 控制水平排列的子元素之间的间距 */
    justify-content: space-between;
    
    height: auto;
    align-items: center top;
    margin-left: 15%;
    margin-right: 15%;
}

.section3-container-inner{
    flex: 1; 
    text-align:left; 
    word-wrap: break-word; /* 讓長單詞自動換行 */
    word-break: break-word;
    margin-left: 1%;
    margin-right: 1%;
    position: relative; /* 讓偽元素定位相對於容器 */
    padding-left: 20px; /* 增加左邊距讓線條與內容保持距離 */
    background-color: #f9f9f9; /* 淺灰色背景 */
    border-radius: 8px; /* 圓角 */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 輕微陰影 */
    
}

.section3-container-inner::before {
    content: "";
    position: absolute;
    left: 0;
    top: 20px; /* 可以調整此值來決定線條從容器的上方開始距離 */
    height: 80%; /* 調整這個值來控制線條的長度 */
    width: 7px; /* 控制線條的寬度 */
    background-color: #20459F; /* 藍色 */
}
.section4{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    
}

.section4-wrap{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.section4-left{
    display: flex;
    flex-direction: column;
    flex:1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.section4-right{
    display: flex;
    flex-direction: column;
    flex:1;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.percentage {
    font-size: 2em;
    
}

.interview-img{
    max-height: 100%;
    max-width:100% ;
    
}

.interview-img img{
    max-height: 100%;
    max-width:100% ;
    object-fit: cover;
}


/* 黑色遮罩 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 放大圖片 */
.zoomed-image {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

/* 關閉按鈕 */
.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    margin-right: 2%;
}


.section6{
    display: flex;
    
    
    max-width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    
}
.section6-title{
    
    justify-content: left;
}

.flex-container {
    padding: 5%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* 讓兩個容器的子元素頂端對齊 */
    gap: 30px; /* 調整兩個 container 之間的間距 */
    max-width: 100%;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1.3;
}
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
}

.section6-circle{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20459F;
    color:white;
    opacity: 0; /* 預設不顯示 */
    transition: opacity 1s ease; /* 更慢的淡入效果 */
    border-radius: 50%; /* 圓形樣式 */
}


.section6-rect {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: left;
    justify-content: left;
    background-color: white;
    border: 2px solid #20459F;
    border-radius: 5px; /* 長方形樣式 */
    opacity: 0; /* 預設不顯示 */
    transition: opacity 1s ease; /* 更慢的淡入效果 */
}

.section6-rect p{
    margin: 1%;
    margin-left: 1%;
    word-break: normal;
    
}
  
.line {
    width: 2px;
    height: 0; /* 初始高度為0 */
    background-color: black;
    transition: height 1s ease;
    opacity: 0;
  }

.line-invisible {
    width: 2px;
    height: 50px;
    background-color: white; /* 隱藏線條 */
}  
.long-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease;
  }
  
.arrow-line {
    width: 2px;
    height: 30px; /* 控制箭頭線的長度 */
    background-color: black;
  }
  
  .arrow-head {
    font-size: 24px;
    margin-top: -10px;
  }
  
.section7{
    max-width: 100%;
}

.section7-container{
    max-width: 100%;
}

.section7-container img{
    max-height: 100%;
    max-width:100% ;
    object-fit: cover;
}

/*UX-Design goal*/

.UX-Design{
    margin-top: 5%;
}
.goal{
    max-width: 100%;
}

.goal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    max-width: 100%;
}

.goal-circle {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #262626;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.goal-circle img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.goal-circle p {
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.goal-circle::after {
    content: attr(data-hover-text); /* 顯示滑鼠懸停時的新文字 */
    color: white;
    position: absolute;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;
}

.goal-circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明遮罩 */
    z-index: 1;
    transition: opacity 0.6s ease;
   
}
.goal-circle:hover::after {
    opacity: 1;
    transform: translateY(0);
}



.goal-circle:hover p {
    opacity: 0; /* 隱藏原來的文字 */
}


.roadmap{
    text-align: left ;
    
}
tbody{
    vertical-align:top;
    word-wrap: break-word;
}

.IA-container{
    max-width: 100%;
}

.IA-container img{
    max-height: 100%;
    max-width:100% ;
    object-fit: cover;
}

.wireframe, .hifi{
    text-align: center;
    max-width: 100%;  /* 最大寬度，根據需要調整 */
    margin: 0 auto;  /* 使區域居中 */
}

.wireframe iframe, .hifi iframe{
    width:800px;
    height:600px;
}

.wireframe h3, .hifi h3{
    text-align: left;
}


.UI-Design{
    
    max-width: 100%;
    margin-top: 8%;
    
}

.UI-Library{
    display: flex;
    justify-content: center;  /* 水平居中 */
    align-items: center; 
    max-width: 80%;
    margin: 0 auto;           /* 使容器在頁面中居中 */
    
}



.UI-Library img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}


/*media*/
@media (max-width:1050px) {
    .goal-circle {
        position: relative;
        width: 200px;
        height: 200px;}
    
    .goal-circle::after {
            font-size: 1rem;
    }

    .wireframe iframe{
        width:600px;
        height:800px;
    }
}


@media (max-width: 900px) {

    .project-image img {
        width: 100%;        /* 设置图片宽度为容器的100% */
        height: auto;       /* 自动调整高度，以保持比例 */
        object-fit: fill;  /* 或者使用 contain，根据需要决定*/
    }

    .project-image {
        height: auto;      /* 设置容器高度 */
        overflow: hidden;   /* 超出部分隐藏 */
    }
    .section6-rect{
        height: auto;
    }

    .goal-circle {
        position: relative;
        width: 150px;
        height: 150px;}
    
    .goal-circle::after {
        font-size: 0.8rem;
    }
    .wireframe iframe{
        width:400px;
        height:600px;
    }
}

@media (max-width: 1000px) {
 .flex-container{
    padding: 0%;
 }
}

@media screen and (min-width: 655px) and (max-width: 767px){
    #line1{
        height: 60px !important;
    }
    #line2{
        height: 70px !important;
    }

    .main-content{
        padding: 0;
    }
    .project-container{
        gap:2px;
    }

    .goal-container{
        flex-direction: column;
    }
    .goal-circle {
        position: relative;
        width: 200px;
        height: 200px;}

    .goal-circle::after {
            font-size: 1rem;
    }


    .wireframe iframe, .hifi iframe{
        width:500px;
        height:400px;
    }
}


@media (min-width: 620px) and (max-width: 654px) {
    .main-content {
        padding: 0px;  /* Reduce padding on small screens */
    }

    .project-container{
        gap:2px;
    }
    .flex-container{
        gap:10px;
    }
    .section6-circle{
        width: 80px;
        height: 80px;
    }
    #line1{
        height: 100px !important;
    }
    #line2{
        height: 90px !important;
    }

    .arrow-line{
        height: 50px !important;
    }

    .goal-container{
        flex-direction: column;
    }
    .goal-circle {
        position: relative;
        width: 200px;
        height: 200px;}

    .wireframe iframe, .hifi iframe{
            width:450px;
            height:500px;
    }
    
}

@media (min-width: 415px) and (max-width: 619px) {
    .main-content {
        padding: 0px;  /* Reduce padding on small screens */
    }

    .project-container{
        gap:2px;
    }
    .flex-container{
        gap:10px;
    }
    .section6-circle{
        width: 70px;
        height: 70px;
    }
    #line1{
        height: 130px !important;
    }
    #line2{
        height: 150px !important;
    }

    .arrow-line{
        height: 70px !important;
    }
    .section2{
        flex-direction: column;
        align-items: flex-start;
    }
    .section3-container1{
        flex-direction: column;
        align-items: flex-start;
    }
    .section3-container2{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .goal-container{
        flex-direction: column;
    }
    .goal-circle {
        position: relative;
        width: 150px;
        height: 150px;}
    
    .wireframe iframe, .hifi iframe{
        width:300px;
        height:500px;
    }
}

@media (max-width: 414px) {
    


    .left-wrap {
        display: none;
    }

    .main-content{
        flex-basis: fit-content;
        padding: 3%;
        margin-right: 0%;
    }
    .section2{
        flex-direction: column;
        align-items: flex-start;
    }
    .section3-container1{
        flex-direction: column;
        align-items: flex-start;
    }
    .section3-container2{
        flex-direction: column;
        align-items: flex-start;
        margin-left: 2%;
        margin-right: 2%;
    }
    .goal-container{
        flex-direction: column;
    }
    .goal-circle {
        position: relative;
        width: 180px;
        height: 180px;}
    .goal-circle::after {
            font-size: 1rem;
    }

    .wireframe iframe, .hifi iframe{
        width:300px;
        height:500px;
    }

    td{
        font-size: 0.7rem;
    }
}

@media (max-width: 376px) {
    #line1{
        height: 130px !important;
    }
    #line2{
        height: 150px !important;
    }

    .arrow-line{
        height: 70px !important;
    }
    .title-container h1{
        font-size: 2rem;
      }
      .title-container h3{
        font-size: 1rem !important;
      }
}